@page
@model Machine_arts.Pages.PocetnaModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
    <link rel="stylesheet" href="/css/pr.css">
</head>


<body translate="no" class="align">
    <div class="grid align__item">

        <div class="register">

            <img src="/Images/Logo.png" class="site__logo" height="20%">

            <h2>Machine arts</h2>

            <form action="" method="post" class="form">
                <div class="form__field">
                    <a asp-page="Prijava">Prijava</a>
                </div>
                <div class="form__field">
                    <a asp-page="Registracija" >Registracija</a>
                </div>
            </form>
        </div>
    </div>

</body>


</html>
